<% page_title __('Dashboard') %>
<div class="alert alert-info alert-dismissible hidden" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span class="glyphicon glyphicon-info-sign"></span>
  <%= __('Welcome to management panel!') %>
</div>
<!--<%= debug current_user.get_roles %>-->

<p>Ваші рівні доступу:
  <% current_user.roles.each do |r| %>
          <span class="label <%= role_css_class(r.name) %>"><%= r.name %></span>
  <% end %>
</p>

    <div class="row">
      <% current_user.roles.each do |r| %>
          <%= render "dashboard/blocks/#{r.name}" %>
      <% end %>
    </div>
