<%
  page_title __('Module Sheet') + ' ' + __('Group') + ' ' + @deadline.get_group_code
  add_breadcrumb __('Module Sheet') + ' ' + @deadline.id.to_s
%>
<div class="panel panel-default">
  <div class="panel-body">
    <ul class="nav">
      <li>
        <span class="glyphicon glyphicon-education"></span>
        <%= @deadline.department.name %>
      </li>
      <li>
        <span class="glyphicon glyphicon-tags"></span>
        <%= @deadline.profession.name %>
      </li>
      <li>
        <span class="glyphicon glyphicon-pushpin"></span>
        <%= @deadline.get_group_code %>
      </li>
      <li>
        <span class="glyphicon glyphicon-book"></span>
        <%= @deadline.subject.name %>
      </li>
      <li>
        <span class="glyphicon glyphicon-calendar"></span>
      </li>
      <li>
        <b><%= __('Lecturer') %>:</b> <%= @deadline.lecturer.get_full_name %> <br>
        <b><%= __('Assistant') %>:</b> <%= @deadline.assistant.get_full_name %>
      </li>
    </ul>
    <br>
    <%= link_to __('Back'), "/teacher/module/show/#{@deadline.id}", class: 'btn btn-default' %>
  </div>
</div>
<%= form_tag "/teacher/module/edit/#{@deadline.id}", method: :post, id: 'teacherUpdateModuleForm' do %>
    <table class="table table-bordered table-hover table-striped module-sheet-preview">
      <thead>
      <tr>
        <th><%= __('#') %></th>
        <th><%= __('Full Name') %></th>
        <th><%= __('M1') %></th>
        <th><%= __('M2') %></th>
        <th><%= __('M3') %></th>
        <th><%= __('M4') %></th>
        <th><%= __('M5') %></th>
        <th><%= __('InHT') %></th>
        <th><%= __('M Checkout') %></th>
        <th><%= __('ECTS Total') %></th>
        <th><%= __('National') %></th>
      </tr>
      </thead>
      <tbody>
      <% i = 0 %>
      <% @deadline.students.each do |s| %>
          <% m = s.get_module_sheet(@deadline.id) %>
          <tr>
            <td><%= i += 1 %></td>
            <td><%= s.get_full_name %></td>
            <td><%= tag :input,
                        type: :number,
                        min: 0,
                        max: @deadline.module_max_score_1,
                        value: m.module_score_1,
                        name: "m[#{m.id}][module_score_1]",
                        class: 'form-control',
                        disabled: @deadline.count_of_modules >= 1 ? false : true
            %></td>
            <td><%= tag :input,
                        type: :number,
                        min: 0,
                        max: @deadline.module_max_score_2,
                        value: m.module_score_2,
                        name: "m[#{m.id}][module_score_2]",
                        class: 'form-control',
                        disabled: @deadline.count_of_modules >= 2 ? false : true
            %></td>
            <td><%= tag :input,
                        type: :number,
                        min: 0,
                        max: @deadline.module_max_score_3,
                        value: m.module_score_3,
                        name: "m[#{m.id}][module_score_3]",
                        class: 'form-control',
                        disabled: @deadline.count_of_modules >= 3 ? false : true
            %></td>
            <td><%= tag :input,
                        type: :number,
                        min: 0,
                        max: @deadline.module_max_score_4,
                        value: m.module_score_4,
                        name: "m[#{m.id}][module_score_4]",
                        class: 'form-control',
                        disabled: @deadline.count_of_modules >= 4 ? false : true
            %></td>
            <td><%= tag :input,
                        type: :number,
                        min: 0,
                        max: @deadline.module_max_score_5,
                        value: m.module_score_5,
                        name: "m[#{m.id}][module_score_5]",
                        class: 'form-control',
                        disabled: @deadline.count_of_modules >= 5 ? false : true
            %></td>
            <td><%= tag :input,
                        type: :number,
                        min: 0,
                        max: @deadline.individual_task_max_score,
                        value: m.individual_task,
                        name: "m[#{m.id}][individual_task]",
                        class: 'form-control'
            %></td>
            <td><%= tag :input,
                        type: :number,
                        min: 0,
                        max: @deadline.exam_max_score,
                        value: m.checkout,
                        name: "m[#{m.id}][checkout]",
                        class: 'form-control'
            %></td>
            <td><%= tag :input,
                        type: :number,
                        value: m.ECTS_summary,
                        name: "m[#{m.id}][ECTS_summary]",
                        class: 'form-control'
            %></td>
            <td><%= tag :input,
                        type: :number,
                        value: m.national_summary,
                        name: "m[#{m.id}][national_summary]",
                        class: 'form-control'
            %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= button_tag __('Save'), type: :submit, class: 'btn btn-default' %>
<% end %>
