<% page_title __('Modules Management') %>
<div class="panel panel-default">
  <div class="panel-body">
    <p><%= __('Your module sheets') %></p>
  </div>
</div>
<table class="table table-bordered table-hover table-striped">
  <thead>
  <tr>
    <th><%= __('#') %></th>
    <th><%= __('Group') %></th>
    <th><%= __('Students') %></th>
    <th><%= __('Subject') %></th>
    <th><%= __('Count of Modules') %></th>
    <th><%= __('Show/Edit') %></th>
  </tr>
  </thead>
  <tbody>
  <% @deadlines.each do |s| %>
      <tr>
        <td><%= s.id %></td>
        <td><%= s.get_group_code %></td>
        <td><%= s.students.length %></td>
        <td><%= s.subject.name %></td>
        <td><%= s.count_of_modules %></td>
        <td>
          <%= link_to __('Show'), "/teacher/module/show/#{s.id}", class: 'btn btn-default' %>
          <%= link_to __('Edit'), "/teacher/module/edit/#{s.id}", class: 'btn btn-default' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @deadlines %>