<%
  page_title __('Module Sheet') + ' ' + __('Group') + ' ' + @deadline.get_group_code
  add_breadcrumb  __('Module Sheet') + ' ' + @deadline.id.to_s
%>
<div class="panel panel-default">
  <div class="panel-body">
    <ul class="nav">
      <li>
        <span class="glyphicon glyphicon-education"></span>
        <%= @deadline.department.name %>
      </li>
      <li>
        <span class="glyphicon glyphicon-tags"></span>
        <%= @deadline.profession.name %>
      </li>
      <li>
        <span class="glyphicon glyphicon-pushpin"></span>
        <%= @deadline.get_group_code %>
      </li>
      <li>
        <span class="glyphicon glyphicon-book"></span>
        <%= @deadline.subject.name %>
      </li>
      <li>
        <span class="glyphicon glyphicon-calendar"></span>
      </li>
      <li>
        <b><%= __('Lecturer') %>:</b> <%= @deadline.lecturer.get_full_name %> <br>
        <b><%= __('Assistant') %>:</b> <%= @deadline.assistant.get_full_name %>
      </li>
    </ul>
    <br>
        <%= link_to __('Edit'), "/teacher/module/edit/#{@deadline.id}", class: 'btn btn-default' %>

  </div>
</div>

<table class="table table-bordered table-hover table-striped module-sheet-preview">
  <thead>
  <tr>
    <th><%= __('#') %></th>
    <th><%= __('Full Name') %></th>
    <th><%= __('M1') %></th>
    <th><%= __('M2') %></th>
    <th><%= __('M3') %></th>
    <th><%= __('M4') %></th>
    <th><%= __('M5') %></th>
    <th><%= __('InHT') %></th>
    <th><%= __('M Checkout') %></th>
    <th><%= __('ECTS Total') %></th>
    <th><%= __('National') %></th>
  </tr>
  </thead>
  <tbody>
  <% i = 0 %>
  <% @deadline.students.each do |s| %>
      <% m = s.get_module_sheet(@deadline.id) %>
      <tr>
        <td><%= i += 1%></td>
        <td><%= s.get_full_name %></td>
        <td><%= !m ? nil : m.module_score_1 %></td>
        <td><%= !m ? nil : m.module_score_2 %></td>
        <td><%= !m ? nil : m.module_score_3 %></td>
        <td><%= !m ? nil : m.module_score_4 %></td>
        <td><%= !m ? nil : m.module_score_5 %></td>
        <td><%= !m ? nil : m.individual_task %></td>
        <td><%= !m ? nil : m.checkout %></td>
        <td><%= !m ? nil : m.ECTS_summary %></td>
        <td><%= !m ? nil : m.national_summary %></td>
      </tr>
  <% end %>
  </tbody>
</table>