  <div class="login-form-container">
    <%= form_for(:session, url: login_path) do |f| %>
        <%= f.email_field :email,
                          :placeholder => 'Email',
                          :class => 'form-control',
                          :required => true
        %>
        <%= f.password_field :password,
                             :placeholder => 'Password',
                             :class => 'form-control',
                             :required => true
        %>
        <%= f.submit __('Log in'), :class => "btn btn-default btn-lg" %>
    <% end %>
  </div>