<div class="col-sm-6 col-md-4">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Адміністратор</h3>
    </div>
    <div class="panel-body">
      <div class="list-group">
        <a href="#" class="list-group-item">Student Management</a>
      </div>
    </div>
  </div>
</div>