<div class="col-sm-6 col-md-4">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Суперадміністратор</h3>
    </div>
    <div class="panel-body">
      <div class="list-group">
        <%= link_to  __('Student Management'), 'management/students', class: 'list-group-item'  %>
        <%= link_to  __('Group Management'), 'management/groups', class: 'list-group-item'  %>
        <%= link_to  __('Worker Management'), 'management/workers', class: 'list-group-item'  %>
        <%= link_to  __('Modules Management'), 'management/modules', class: 'list-group-item'  %>
        <%= link_to  __('Professions Management'), 'management/professions', class: 'list-group-item'  %>
        <a href="#" class="list-group-item">System Configuration</a>
      </div>
    </div>
  </div>
</div>