<div class="col-sm-6 col-md-4">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Студент</h3>
    </div>
    <div class="panel-body">
      Panel content
    </div>
  </div>
</div>