<div class="col-sm-6 col-md-4">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Викладач</h3>
    </div>
    <div class="panel-body">
      <%= link_to  __('My Modules Management'), 'teacher/modules', class: 'list-group-item'  %>
    </div>
  </div>
</div>