    <div class="panel panel-default">
      <div class="panel-body">
            <%= link_to __('Add a Student'), '/management/student/new', class: 'btn btn-default'%>
      </div>
    </div>

    <table class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th><%= __('Student Card #') %></th>
        <th><%= __('Grade Book #') %></th>
        <th><%= __('Full name') %></th>
        <th><%= __('Group') %></th>
      </tr>
      </thead>
      <tbody>
      <% @students.each do |s| %>
          <tr>
            <td><%= s.student_card %></td>
            <td><%= s.grade_book %></td>
            <td><%= s.get_full_name %></td>
            <td><%= s.get_course + '' + s.group.alias %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div id="counter"></div>
    <%= paginate @students %>