<%= bootstrap_form_for @student, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10', url: {action: 'new'}, html: {class: 'form-horizontal'} do |f| %>

    <%= f.text_field :first_name, placeholder: :first_name, required: true %>
    <%= f.text_field :last_name, placeholder: :last_name, required: true %>
    <%= f.text_field :middle_name, placeholder: :middle_name, required: true %>
    <%= f.select :sex, sex_list.map { |g| [g[:title], g[:value]] }, required: true %>
    <%= f.text_field :birth_date, type: :date, placeholder: __('Date of Birth'), required: true, autocomplete: :off %>
    <%= f.text_field :student_card, placeholder: __('Student Card ID') %>
    <%= f.text_field :grade_book, placeholder: __('Grade Book ID') %>
    <%= f.collection_select :group_id, Group.all, :id, :get_code_profession_name %>

    <%= f.submit __('Create'), class: 'btn btn-default' %>
<% end %>