<% page_title __('Home') %>
<h1>Пошук історії успішності студента</h1>
<br>
<div class="col-lg-5 ">
  <div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Підказка</h3></div>
    <div class="panel-body">Введіть номер залікової книжки або ПІП студента</div>
  </div>
</div>
<div class="clearfix"></div>
<br>
<div class="input-group input-group-lg col-lg-7">
  <span class="input-group-addon">@</span>
  <input type="text" class="form-control" placeholder="Введіть данні для пошуку...">
  <span class="input-group-btn">
        <button class="btn btn-default" type="button">Пошук</button>
  </span>
</div>

