<%= bootstrap_form_for @group, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10', url: {action: 'new'}, html: {class: 'form-horizontal'} do |f| %>

    <%= f.collection_select :profession_id, Profession.all, :id, :name %>
    <%= f.text_field :alias, placeholder: :alias, required: false %>
    <%= f.text_field :year, type: :date, required: true, 'data-year-only': true %>

    <%= f.submit __('Create'), class: 'btn btn-default' %>
<% end %>