<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to __('Add a Group'), '/management/group/new', class: 'btn btn-default' %>
  </div>
</div>

<table class="table table-bordered table-hover table-striped">
  <thead>
  <tr>
    <th><%= __('Group #') %></th>
    <th><%= __('Profession') %></th>
    <th><%= __('Students') %></th>
    <th><%= __('Show/Edit') %></th>
  </tr>
  </thead>
  <tbody>
  <% @group.students.each do |s| %>
      <tr>
        <td><%= s.group.get_code %></td>
        <td><%= s.group.profession.name %></td>
        <td><%= s.get_full_name %></td>
        <td><%= link_to __('Show'), "/storage/group/#{@group.id}", class: 'btn btn-default' %></td>
      </tr>
  <% end %>
  </tbody>
</table>