<% page_title __('Modules Management') %>
<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to __('Add a Module'), '/management/module/new', class: 'btn btn-default' %>
  </div>
</div>

<table class="table table-bordered table-hover table-striped">
  <thead>
  <tr>
    <th><%= __('#') %></th>
    <th><%= __('Group') %></th>
    <th><%= __('Students') %></th>
    <th><%= __('Subject') %></th>
    <th><%= __('Lecturer') %></th>
    <th><%= __('Assistant') %></th>
    <th><%= __('Count of Modules') %></th>
    <th><%= __('Show/Edit') %></th>
  </tr>
  </thead>
  <tbody>
  <% @deadlines.each do |s| %>
      <tr>
        <td><%= s.id %></td>
        <td><%= s.get_group_code %></td>
        <td><%= s.students.length %></td>
        <td><%= s.subject.name %></td>
        <td><%= s.lecturer.get_full_name %></td>
        <td><%= s.assistant.get_full_name %></td>
        <td><%= s.count_of_modules %></td>
        <td><%= link_to __('Show'), "/storage/module/#{s.id}", class: 'btn btn-default' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @deadlines %>