<% page_title __('New Module') %>
<%= bootstrap_form_for @module, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10', url: {action: 'create'}, html: {class: 'form-horizontal'} do |f| %>

    <%= f.collection_select(:department_id, Department.all, :id, :name) %>
    <%= f.select :profession_id, [], {}, {id: 'module_deadline_profession_id'} %>
    <div class="form-group">
      <%= label_tag(:use_mixed_group, __('Use mixed group'), class: 'control-label col-sm-2') %>
      <div class="col-sm-10">
        <%= check_box_tag(:use_mixed_group) %>
      </div>
    </div>
    <%= f.select :group_id, [], {}, {id: 'module_deadline_group_id'} %>

    <%= f.select :mixed_group_id, MixedGroup.all.map { |g| [g.alias, g.id] }%>
    <%= f.collection_select(:subject_id, Subject.all, :id, :name) %>

    <%= f.collection_select(:lecturer_id, Worker.all, :id, :get_full_name) %>
    <%= f.collection_select(:assistant_id, Worker.all, :id, :get_full_name) %>

    <%= f.collection_select(:count_of_modules, 1..5, :to_s, :to_s) %>
    <hr>
    <% for i in 1..5 do %>
        <%= f.text_field 'module_max_score_' + i.to_s, autocomplete: :off, placeholder: __('Set Value'), value: 1, disabled: true, type: :number, min: 1, wrapper: {class: 'module-score-container'} %>
    <% end %>
    <hr>
    <% for i in 1..5 do %>
        <%= f.date_field 'deadline_module_' + i.to_s, autocomplete: :off, placeholder: __('Select Date'), disabled: true, wrapper: {class: 'module-deadline-container'} %>
    <% end %>
    <hr>
    <%= f.text_field :study_year_id, value: current_study_year.alias, disabled: true %>
    <%= f.collection_select(:semester, 1..2, :to_s, :to_s) %>
    <%= f.text_field :individual_task_max_score, placeholder: __('Set Value'), type: :number, min: 1  %>
    <%= f.date_field :deadline_individual_task, placeholder:__('Select Date') %>

    <%= f.date_field :deadline_checkout, placeholder: __('Select Date'), autocomplete: :off %>

    <%= f.submit __('Create'), class: 'btn btn-default' %>
<% end %>
<h4><%= __('Students List') %></h4>
<table class="table table-bordered table-hover table-striped" id="modulesStudentsPreviewTable">
  <thead>
  <th width="30"><%= __('#') %></th>
  <th><%= __('Full Name') %></th>
  </thead>
  <tbody id="modulesStudentsPreviewRows">
  </tbody>
</table>