<%= form_for(@profession) do |f| %>
  <% if @profession.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profession.errors.count, "error") %> prohibited this profession from being saved:</h2>

      <ul>
      <% @profession.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :group_alias %><br>
    <%= f.text_field :group_alias %>
  </div>
  <div class="field">
    <%= f.label :department_id %><br>
    <%= f.text_field :department_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
