<p id="notice"><%= notice %></p>

<h1>Listing Professions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Group alias</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professions.each do |profession| %>
      <tr>
        <td><%= profession.name %></td>
        <td><%= profession.code %></td>
        <td><%= profession.group_alias %></td>
        <td><%= profession.department.name %></td>
        <td><%= link_to 'Show', profession %></td>
        <td><%= link_to 'Edit', edit_profession_path(profession) %></td>
        <td><%= link_to 'Destroy', profession, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profession', new_profession_path %>
