<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profession.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @profession.code %>
</p>

<p>
  <strong>Group alias:</strong>
  <%= @profession.group_alias %>
</p>

<p>
  <strong><%= __('Department')%>:</strong>
  <%= @profession.department.name %>
</p>

<%= link_to 'Edit', edit_profession_path(@profession) %> |
<%= link_to 'Back', professions_path %>
