<%= bootstrap_form_for @worker, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10', url: {action: 'new'}, html: {class: 'form-horizontal'} do |f| %>
  <% if @worker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@worker.errors.count, 'error') %> prohibited this worker from being saved:</h2>
      <ul>
      <% @worker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :first_name %>
    <%= f.text_field :last_name %>
    <%= f.text_field :middle_name %>
    <%= f.select :sex, sex_list.map { |g| [g[:title], g[:value]] }, required: true %>
    <%= f.date_select :birth_date %>
    <%= f.number_field :position_id %>
    <%= f.check_box :is_disabled %>
    <%= f.submit %>
<% end %>
