<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to __('Add a Worker'), '/management/worker/new', class: 'btn btn-default'%>
  </div>
</div>

<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Middle name</th>
      <th>Sex</th>
      <th>Birth date</th>
      <th>Position</th>
      <th>Is disabled</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= worker.first_name %></td>
        <td><%= worker.last_name %></td>
        <td><%= worker.middle_name %></td>
        <td><%= worker.sex %></td>
        <td><%= worker.birth_date %></td>
        <td><%= worker.position_id %></td>
        <td><%= worker.is_disabled %></td>
        <td><%= link_to __('Show'), worker, class: 'btn btn-default' %></td>
        <td><%= link_to __('Edit'), edit_worker_path(worker), class: 'btn btn-default' %></td>
        <td><%= link_to __('Destroy'), worker, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
