<p>
  <strong>First name:</strong>
  <%= @worker.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @worker.last_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @worker.middle_name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @worker.sex %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @worker.birth_date %>
</p>

<p>
  <strong>Position:</strong>
  <%= @worker.position_id %>
</p>

<p>
  <strong>Is disabled:</strong>
  <%= @worker.is_disabled %>
</p>

<%= link_to 'Edit', edit_worker_path(@worker), class: 'btn btn-default' %> |
<%= link_to 'Back', workers_path, class: 'btn btn-default' %>
