// Place all the styles related to the modules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.module-sheet-preview {
  input {
    width: 60px;
    margin: 0 auto  ;
  }
}
#use_mixed_group {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
#modulesStudentsPreviewTable {

}