// Place all the styles related to the sessions controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.not-logged-in .login-form-container {
  margin: 10px;
}
.login-form-container {
  width: 290px;
  margin: 0 auto;

   form {

    input {
      display: block;
      width: 100%;
      margin: 5px 0;
    }
  }
}