<ol class="breadcrumb">
  <li><%= link_to __('Home'), root_url %></li>
  <li class="active"><%= __('Settings') %></li>
</ol>
<div class="well">
  <div class="container-fluid">

    <%

    %>
    <%=  controller_method_parser %>
  </div>
</div>
