<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:page_title) ? content_for(:page_title) : __('Deanery') %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render template: 'layouts/top_menu' %>
<div class="container">
  <div class="well">
    <div class="container-fluid">
      <%= render_breadcrumbs :tag => :li, :separator => '', :builder => ::BootstrapBreadcrumbsBuilder %>
      <%= yield %>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  //helper variables
  window.DATE = {
    year: <%= Time.now.year %>,
    month: <%= Time.now.month %>,
    day: <%= Time.now.day %>,
    hour: <%= Time.now.hour %>,
    min: <%= Time.now.min %>,
    sec: <%= Time.now.sec %>,
    zone: '<%= Time.now.zone %>'
  }
  window.SERVER = {
    time: new Date(DATE.year, DATE.month, DATE.day, DATE.hour, DATE.min, DATE.sec, 00)
  }
  window.BASE_URL = '<%= base_url %>';
  window.LANG = '<%= current_lang %>';
</script>
</body>
</html>
