<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Меню</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to __('Deanery'), root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li><a href="#" class="glyphicon glyphicon-user"></a></li>
        <!--<li class="active"><a href="#"><%= current_user.login %></a></li>-->
        <li class="active"><a href="#"><%= current_user.get_full_name %></a></li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= __('User') %> <span class="caret"></span></a>
          <% if current_user %>
          <ul class="dropdown-menu logged-in">
            <li><%= link_to __('Dashboard'), dashboard_path %></li>
            <li><a href="#">Профіль</a></li>
            <li><a href="#">Налаштування</a></li>
            <li class="locales">
              <% I18n.available_locales.each do |l| %>
                  <% active = l.to_s == current_lang ? 'active' : '' %>
                  <%= content_tag :b, l, class: active, onclick: 'changeLang("'+l.to_s+'")' %>
              <% end %>
            </li>
            <li role="separator" class="divider"></li>
            <li><%= link_to __('Log out'), logout_path, method: "delete" %></li>
          </ul>
          <% else %>
            <ul class="dropdown-menu not-logged-in">
              <li><%= render template: 'sessions/new' %></li>
            </ul>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>